GO
/****** Object:  Database [Coffee-Api]    Script Date: 10/02/2021 19:16:40 ******/
CREATE DATABASE [Coffee-Api]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Coffee-Api', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Coffee-Api.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Coffee-Api_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Coffee-Api_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coffee-Api].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coffee-Api]
GO
/****** Object:  Table [dbo].[Coffee]    Script Date: 10/02/2021 19:16:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coffee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](150) NOT NULL,
	[caffeineContent] [int] NOT NULL,
 CONSTRAINT [PK_Coffee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 10/02/2021 19:16:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coffeeId] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Coffee] ON 

INSERT [dbo].[Coffee] ([id], [name], [description], [caffeineContent]) VALUES (1, N'Flat Black', N'About the Flat Black', 122)
INSERT [dbo].[Coffee] ([id], [name], [description], [caffeineContent]) VALUES (2, N'Americano', N'About the Americano', 50)
INSERT [dbo].[Coffee] ([id], [name], [description], [caffeineContent]) VALUES (3, N'Latte', N'About the Latte', 12)
SET IDENTITY_INSERT [dbo].[Coffee] OFF
GO
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([id], [coffeeId], [rating], [comment]) VALUES (1, 1, 5, N'Great coffee')
INSERT [dbo].[Rating] ([id], [coffeeId], [rating], [comment]) VALUES (2, 1, 5, N'My favorite')

SET IDENTITY_INSERT [dbo].[Rating] OFF
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Rating] FOREIGN KEY([coffeeId])
REFERENCES [dbo].[Coffee] ([id])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Rating]
GO
USE [master]
GO
